{% extends 'frame.html.twig' %}

{% block frame %}
    <div class="container">
        <div class="row">

            <!-- Article List -->

            <div class="col-sm-12 col-md-8">
                {% if block("title") is defined %} <div class="article-container my-1">
                            <div class="article-title d-inline-block pl-3 align-middle">
                                <span>{% block title %} {% endblock %}</span>
                            </div>
                    </div>{%  endif %}
                {% block body %}
                    <div class="main-article mb-5 pb-3">

                    </div>
                {% endblock %}
                <!-- Supporting Articles -->
{#                {% for article in articles %}
                    <div class="article-container my-1">
                        <a href="{{ path('article_show', {id: article.id} ) }}">
                            <img class="article-img" src="{{ asset('images/asteroid.jpeg') }}">
                            <div class="article-title d-inline-block pl-3 align-middle">
                                <span>{{ article.title }}</span>
                                <br>
                                <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> {{ article.firstname }} {{ article.lastname }} </span>
                                <span class="pl-5 article-details float-right">{{ article.publishDate|date("d/M/Y") }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}#}
              {#  <div class="article-container my-1">
                    <a href="{{ path('news_show', {slug: 'why-asteroids-taste-like-bacon'}) }}">
                        <img class="article-img" src="{{ asset('images/asteroid.jpeg') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>Why do Asteroids Taste Like Bacon?</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> Mike Ferengi </span>
                            <span class="pl-5 article-details float-right"> 3 hours ago</span>
                        </div>
                    </a>
                </div>

                <div class="article-container my-1">
                    <a href="#">
                        <img class="article-img"  src="{{ asset('images/mercury.jpeg') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>Life on Planet Mercury: <br> Tan, Relaxing and Fabulous</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}"> Amy Oort </span>
                            <span class="pl-5 article-details float-right"> 6 days ago</span>
                        </div>
                    </a>
                </div>

                <div class="article-container my-1">
                    <a href="#">
                        <img class="article-img" src="{{ asset('images/lightspeed.png') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>Light Speed Travel: <br> Fountain of Youth or Fallacy</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}"> Amy Oort </span>
                            <span class="pl-5 article-details float-right"> 2 weeks ago</span>
                        </div>
                    </a>
                </div>#}

            </div>

            <!-- Right bar ad space -->


            <div class="col-sm-12 col-md-4 text-center">
                <div class="ad-space mx-auto mt-1 pb-2 pt-2">
                    <img class="advertisement-img" src="{{ asset('images/space-ice.png') }}">
                    <p><span class="advertisement-text">New:</span> Space Ice Cream!</p>
                    <button class="btn btn-info">Buy Now!</button>
                </div>

                <div class="quote-space pb-2 pt-2 px-5">
                    <h3 class="text-center pb-3">Trending Quotes</h3>
                    <p><i class="fa fa-comment"></i> Schülerliste <br>— <a href="{{ path('student_index') }}">Schülerliste</a></p>

                    <p class="pt-4"><i class="fa fa-comment"></i> Klassen <br>— <a href="{{ path('klasse_index') }}">Klassenliste</a></p>

                    <p class="pt-4"><i class="fa fa-comment"></i> Lehrer <br>— <a href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
